@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200&family=Red+Hat+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --clr-primary: #2636E4;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  margin-left: 0.8rem;
}
.nav-left{
  display: flex;
  flex-flow: column;
}
.relevel {
  font-family: 'Red Hat Mono', monospace; 
  font-size: 1.5em;
}
.relevel-small {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-left: 0.89em;
  color: #ADADAD;
  margin-top: -0.6em;
  display: inline-block;
  transform: scale(1.17,1.25);
}
.nav-right{
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem 0 2rem 0;
  color: #2636E4;
}
.nav-right h3{
 margin-top: 0.25em;
}
.login{
  width: 100%;
  height: 32px;
  margin-left: 2rem;
  text-align: center;
  border: 1px solid blue;
  border-radius: 40px;
}
img{
  max-width: 100%;
}
.btn{
  width: 95%;
  height: 40px;
  margin-left: 0.5rem;
  background: var(--clr-primary);
  font-size: 1em;
  font-weight: 450;
  margin-top: 3rem;
  color: #fff;
}

@media only screen and (min-width: 750px){
  .nav{
    margin-left: 2em;
    margin-right: 2em;
  }
}